.checkListFieldset {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    max-height: 10rem;
    margin: .5rem;
}

.checklistDiv {
    display: flex;
    flex-direction: column;
    background-color: #FFBF69;
    margin: .5rem;
    border-radius: 10px;
    color: white;
    font-size: 20px;
}

.checkbox {
    border: white solid 2px;
    margin-top: .4rem;
}
