h1 {
    color: white;
}

.header {
    margin-bottom: 0;
    padding-bottom: 0;
}

.h2 {
    display: flex;
    justify-content: center;
}

.centerDefaultImg {
    display: flex;
}
.profileDefault {
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    border: solid #FF9F1C .5rem;
    background-color: white;
    margin-bottom: -8rem;
    padding: 2rem;
}

.emptySpace {
    width: 45%;
}

header {
    background-color: #FF9F1C;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -2rem;
    padding-top: 4rem;
    margin-left: -2rem;
    padding-left: 4rem;
    margin-right: -2rem;
    padding-right: 4rem;
    padding-bottom: 2rem;
    margin-bottom: 10rem;
}

.logOutBtn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    min-width: 10%;
    min-height: 2rem;
    border-radius: 5px;
    background-color: white;
    color: #FF9F1C;
    font-size: 18px;
    font-weight: bold;
}