body {
    color: white;
}

.farmFilter {
    display: flex;
    justify-content: center;
}

.farmFilterSelect {
    margin-bottom: 1rem;
    min-width: 33%;
    min-height: 2rem;
    color: #178B7C;
    border: solid 1px #178B7C;
    border-radius: 5px;
    display: flex;
    padding-left: .5rem;
}

.allFarmsBtnDiv {
    min-width: 33%;
    margin-left: 1rem;
}

.allFarmsBtn {
    width: 100%;
    min-height: 2rem;
    color: #178B7C;
    border: solid 1px #178B7C;
    border-radius: 5px;
    background-color: white;
}

.farm {
    background-color: #5BC9B9;
    border-radius: 10px;
    padding: 1rem;
    margin: .5rem;
    display: flex;
    flex-direction: column;
}

.farm__name {
    margin-top: 0;
}

.farmPic, .userDefaultPic {
    margin: .5rem;
    padding: .5rem;
    width: 10rem;
    height: 10rem;
    border: double #FFBF69 5px;
    border-radius: 5px;
    background-color: white;
}

.farm__upperBox {
    display: flex;
    margin-bottom: 1rem;
}

.farmCardRight {
    margin-left: 1rem;
    margin-top: 1rem;
    width: 75%;
    color: #178B7C;
}

.farm__upperDetails {
    display: flex;
}

a:visited, a:active, .a:visited, .a:active {
    text-decoration: none;
    color: #178B7C;
}

.farm__buttons {
    display: flex;
    justify-content: center;
    margin-bottom: .75rem;
    margin-top: .75rem;
    min-height: 2rem;
    padding-left: 5rem;
    padding-right: 5rem;
}

a {
    min-width: 33%;
    text-decoration: none;
}

.farmDetailsBtn {
    border-radius: 5px;
    color: #178B7C; 
    min-width: 33%;
    min-height: 2rem;
    text-decoration: none;
}

.addRevBtn {
    margin-left: 1rem;
    border-radius: 5px;
    color: #178B7C; 
    min-width: 100%;
    min-height: 2rem;
}

.addReviewBtn {
    margin-left: 1rem;
    border-radius: 5px;
    color: #178B7C; 
    min-width: 33%;
    min-height: 2rem;
}

.farm__instructionAndLists {
    display: flex;
    justify-content: center;
}

.farm__instructions {
    padding: 1rem;
    max-height: 8rem;
    overflow: scroll;
    background-color: white;
    border-radius: 5px;
    color: #178B7C
}

.farm__instructionsSection {
    width: 45.5%;
    padding: 1rem;
    margin: .5rem;
    background-color: #178B7C;
    border-radius: 5px;
    max-height: 15rem;
}

.farm__includeList {
    color:#178B7C;
    width: 45%;
    padding: .5rem;
    margin: .5rem;
    background-color: white;
    border-radius: 5px;
    max-height: 15rem;
}

ul {
    overflow: scroll;
    max-height: 9rem;
}

p {
    margin-left: 1rem;
}

.farm__excludeList {
    color:#FF9F1C;
    width: 45%;
    max-height: 15rem;
    padding: .5rem;
    margin: .5rem;
    background-color: white;
    border-radius: 5px;
}

.farm__include, .farm__exclude {
    display: flex;
    justify-content: center;
}

ul {
    list-style-type: none;
    padding-left: 1rem;
}

.farm__reviews {
    background-color: white;
    border-radius: 5px;
    color: #178B7C;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: .5rem;
}

.farm__reviewHeader {
    display: flex;
    justify-content: center;
}

.farm__reviewCard {
    display: flex;
    padding: 1rem;
    background-color: #5BC9B9;
    margin: 1rem;
    border-radius: 5px;
}

.farm__reviewInfo {
    margin-left: 1rem;
}

.review__name {
    margin-bottom: .25rem;
}

.review__date, .review__reviewText {
    color: white;
    margin-left: 0;
    white-space: pre-wrap;
}

.includeExcludeDivs {
    display: flex;
    width: 50%;
    justify-content: center;
    
    margin-left: 1rem;
}

.farms {
    padding-left: 5rem;
    padding-right: 5rem;
}

.farmFilter {
    padding-left: 5rem;
    padding-right: 5rem;
}
