body {
    color: white;
}



fieldset, input, button {
    border: none;
    margin: none;
}

fieldset {
    display: flex;
    justify-content: left;
}

.form-control {
    margin-left: 1rem;
    min-width: 50%;
    min-height: 2rem;
    border-radius: 5px;
}

label {
    margin-top: .25rem;
    font-size: 1.25rem;
    text-align: center;
}

.form-name {
    margin-left: 3rem;
}

.reg {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.form--reg {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.loginBtn {
    border-radius: 5px;
    color: #178B7C; 
    min-width: 45%;
    min-height: 2rem;
    text-decoration: none;
}

.form--heading {
    display: flex;
    justify-content: center;
}

.loginBtnFieldset {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.loginBtnWB {
    border-radius: 5px;
    color: #178B7C; 
    min-width: 45%;
    min-height: 2rem;
    text-decoration: none;
}

.userEntrance {
    align-content: center;
}

.getStarted {
    text-align: center;
}

.notAFarmer {
    border-radius: 5px;
    color: #178B7C; 
    min-width: 45%;
    min-height: 2rem;
    text-decoration: none;
    margin: 1rem;
}

.iAmAFarmer {
    border-radius: 5px;
    color: #178B7C; 
    min-width: 45%;
    min-height: 2rem;
    text-decoration: none;
    margin: 1rem;
}

.initialLoginBtns {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.center {
    display: flex;
    justify-content: center;
}