/* CSS for all pages linked to Login.css */

body {
    color: white;
}

fieldset, input, button {
    border: none;
    margin: none;
}

fieldset {
    display: flex;
    justify-content: center;
}







































/* CSS for Login.js */

.form-control {
    margin-left: 1rem;
    min-width: 50%;
    min-height: 2rem;
    border-radius: 5px;
}

.loginBtn {
    border-radius: 5px;
    color: #178B7C; 
    min-width: 45%;
    min-height: 2rem;
    text-decoration: none;
}

.chooseFileBtn {
    display: flex;
    justify-content: center;
    margin-left: 1rem;
}

.form--heading {
    display: flex;
    justify-content: center;
}

.loginBtnFieldset {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.loginBtnWB {
    border-radius: 5px;
    color: #178B7C; 
    min-width: 45%;
    min-height: 2rem;
    text-decoration: none;
}

.userEntrance {
    align-content: center;
}









































/* CSS for InitialRegister.js */

.getStarted {
    text-align: center;
}

.notAFarmer {
    border-radius: 5px;
    color: #178B7C; 
    min-width: 45%;
    min-height: 2rem;
    text-decoration: none;
    margin: 1rem;
}

.iAmAFarmer {
    border-radius: 5px;
    color: #178B7C; 
    min-width: 45%;
    min-height: 2rem;
    text-decoration: none;
    margin: 1rem;
}

.initialLoginBtns {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.center {
    display: flex;
    justify-content: center;
}














































/* CSS for RegisterNonFarmer.js */

.leftSidePaddingNonFarmer {
    width: 20%;
    background-color: #178B7C;
    margin-top: -10rem;
    margin-bottom: -20rem;
}

.form--nonFarmerLogin {
    background-color:white;
    color:#178B7C;
    width: 60%;
    margin-right: 4rem;
    margin-left: 3rem;
}

.rightSidePaddingNonFarmer {
    width: 20%;
    background-color: #178B7C;
    margin-top: -10rem;
    margin-bottom: -20rem;
}

.container--registerNonFarmer {
    display: flex;
    justify-content: center;
}

.firstNameLastNameNonFarmer {
    display: flex;
}

.firstNameNonFarmer, .lastNameNonFarmer {
    text-align: left;
    margin-bottom: 1rem;
}

.nameFieldSetNonFarmer {
    width: 50%;
}

#firstNameLabelNonFarmer, .lastNameLabelNonFarmer, .userNameLabelNonFarmer, .zipCodeLabelNonFarmer, .emailAddressLabelNonFarmer {
    border: .05rem dotted #178B7C;
    width: 100%;
    min-height: 2rem;
    border-radius: 5px;
}

.loginLeftNonFarmer {
    width: 50%;
}

.usernameImageNonFarmer {
    display: flex;
    flex-direction: row-reverse;
}

.userNameNonFarmer, .zipCodeNonFarmer, .emailAddressNonFarmer {
    text-align: left;
    margin-bottom: 1rem;
}

.userNameNonFarmer, .zipCodeNonFarmer, .emailAddressNonFarmer, .uploadImg {
    text-align: left;
    margin-bottom: 1rem;
}

.uploadImgNonFarmer {
    margin-bottom: 1rem;
    margin-left: 1rem;
    text-align: left;
}

.imageNonFarmer {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    min-height: 40%;
    width: 48%;
    margin-left: 1rem;
}

.loginBtnNonFarmer {
    border-radius: 5px;
    color: #178B7C; 
    min-width: 45%;
    min-height: 2rem;
    text-decoration: none;
}

.loginBtnFieldsetNonFarmer {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.regInfoStackNonFarmer {
    display: flex;
    flex-direction: column;
    text-align: left;
}











































/* CSS for RegisterFarmer.js */

.container--registerFarmer {
    display: flex;
    justify-content: center;
}

.firstNameLastNameFarmer {
    display: flex;
    margin-bottom: 1rem;
}

.nameFieldSetFarmer {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.firstNameLabelFarmer, .lastNameLabelFarmer {
    text-align: left;
    margin-bottom: 1rem;
}

.firstNameFarmerInput, .lastNameFarmerInput {
    border: .05rem dotted #178B7C;
    width: 100%;
    min-height: 2rem;
    border-radius: 5px;
}

.userinfoImageFarmerColumns {
    display: flex;
    flex-direction: row-reverse;    
    margin-bottom: 2rem;
}

.loginLeftFarmer {
    width: 50%;
}

.regInfoStackFarmer {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.imageInstructionsFarmer {
    width: 50%;
}

.userNameInput, .emailAddressInput, .farmNameInput, .streetAddressInput, .cityInput, .zipCodeInput, .websiteInput {
    border: .05rem dotted #178B7C;
    width: 100%;
    min-height: 2rem;
    border-radius: 5px;
}

.userNameLabel, .emailAddressLabel, .farmNameLabel, .streetAddressLabel, .cityLabel, .zipCodeLabel, .websiteLabel {
    text-align: left;
    margin-bottom: 1rem;
}

img {
    margin: 1rem;
}

.imageFarmer {
    margin-bottom: 1rem;
    margin-left: 1rem;
    text-align: left;
}

.instructions, .uploadImgFarmer {
    text-align: left;
    margin-bottom: 1rem;
}

textarea {
    height: 20rem;
    width: 100%;
}

.whiteSpace, .instructionsLabel {
    white-space: pre-wrap;
}

.loginBtnFieldsetFarmer {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

