body {
    color: white;
}

.form--nonFarmerLogin {
    background-color:white;
    color:#178B7C;
    width: 60%;
}

.firstNameLabel, .lastNameLabel, .userNameLabel, .zipCodeLabel, .emailAddressLabel {
    border: .05rem dotted #178B7C;
    width: 40%;
    align-content: center;
}

.firstName, .lastName, .userName, .zipCode, .emailAddress, .uploadImg {
    text-align: left;
    margin-bottom: 1rem;
    margin-left: 3rem;
}

#userNameLabel {
    margin-left: 3rem;
}

input#file-upload-button {
    border: none;
}
input { border: none }

fieldset, input, button {
    border: none;
    margin: none;
}

fieldset {
    display: flex;
    justify-content: center;
}

.form-control {
    margin-left: 1rem;
    min-width: 50%;
    min-height: 2rem;
    border-radius: 5px;
}

label {
    margin-top: .25rem;
    font-size: 1.25rem;
    text-align: center;
}

.form-name {
    margin-left: 3rem;
}

.reg {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.form--reg {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.loginBtn {
    border-radius: 5px;
    color: #178B7C; 
    min-width: 45%;
    min-height: 2rem;
    text-decoration: none;
}

.form--heading {
    display: flex;
    justify-content: center;
}

.loginBtnFieldset {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.loginBtnWB {
    border-radius: 5px;
    color: #178B7C; 
    min-width: 45%;
    min-height: 2rem;
    text-decoration: none;
}

.userEntrance {
    align-content: center;
}

.getStarted {
    text-align: center;
}

.notAFarmer {
    border-radius: 5px;
    color: #178B7C; 
    min-width: 45%;
    min-height: 2rem;
    text-decoration: none;
    margin: 1rem;
}

.iAmAFarmer {
    border-radius: 5px;
    color: #178B7C; 
    min-width: 45%;
    min-height: 2rem;
    text-decoration: none;
    margin: 1rem;
}

.initialLoginBtns {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.center {
    display: flex;
    justify-content: center;
}

.regInfoStack {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.firstNameLastName {
    display: flex;
}

.usernameAndImage {
    display: flex;
}

.rightSidePadding {
    width: 20%;
    background-color: #178B7C;
}

.leftSidePadding {
    width: 20%;
    background-color: #178B7C;
}

.container--registerNonFarmer {
    display: flex;
    justify-content: center;
}